<!DOCTYPE html>
<html>
<head>
  <title>Compadre</title>
  <%= stylesheet_link_tag    "compadre/application", media: "all" %>
  <%= javascript_include_tag "compadre/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
